<h3>{{ site.data.strings.sidebars.search.heading }}</h3>

<noscript>
    <span class="noscript">
        {{ site.data.strings.sidebars.search.noscript }}
    </span>
</noscript>

{% fdroid_search_autocomplete %}
