@import "jekyll-fdroid";

body {
    background: $global-background;
}

.site-wrapper {
    max-width: $content-width + $spacing-unit;
    margin: 0 auto;
    padding: 0 $spacing-unit/2;
}

/**
 * Header
 */
.site-header {
    background: $content-background;
    z-index: 1;
    @extend %shadow;
}

.site-title {
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: none;
    }

    img {
        margin: $spacing-unit * 2 / 3;
        width: $spacing-unit * 3;
        height: $spacing-unit * 3;

        @include media-query($tablet) {
            width: $spacing-unit * 2;
            height: $spacing-unit * 2;
        }

        @include media-query($phone) {
            margin: $spacing-unit / 2;
            width: $spacing-unit * 1.5;
            height: $spacing-unit * 1.5;
        }
    }

    h1 {
        margin: 0;

        @include media-query($tablet) {
            @include heading-size(2);
        }

        @include media-query($phone) {
            @include heading-size(3);
        }
    }
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    background: $primary-color;

    .page-link {
        @include button-dark($primary-color);

        &.current {
            $border-height: 6px;
            border-bottom: $border-height solid rgba(255, 255, 255, .4);

            // Prevents the border from making the whole row higher:
            line-height: ($spacing-unit * 1.5) - (2 * $border-height);
            padding-top: $border-height;
        }
    }
}

.material-button {
    display: inline-block;
    text-transform: uppercase;
    @include button-dark($primary-color);
}

/**
 * Content
 */
.main-content {
    background: $content-background;
    padding: $spacing-unit / 2;
    padding-top: $spacing-unit;
    display: flex;
    @extend %shadow;

    .article-area, .sidebar {
        flex-basis: auto;
        width: 0px;

        @include media-query($tablet) {
            width: auto;
        }
    }

    .article-area {
        flex-grow: 4;
    }

    .sidebar {
        flex-grow: 2;
        padding-left: $spacing-unit;
        word-break: break-all;
    }

    @include media-query($tablet) {
        flex-direction: column;

        .sidebar {
            padding-left: 0;
            padding-top: $spacing-unit * 2;
        }
    }
}

.sidebar-widget {
    margin-bottom: $spacing-unit;

    &:not(:last-of-type) {
        padding-bottom: $spacing-unit;
        border-bottom: 1px solid #ccc;
    }

    @import "sidebar-donate"
}

/**
 * News
 */
.post-meta {
	img {
		vertical-align: middle;
	}
}

/**
 * Image gallery - used by both Posts and Packages.
 */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;

    list-style: none;
    margin: 0;
    padding: 0;

    img {
        margin: 0.5em;
        flex-grow: 1;
        max-width: 300px;
        box-shadow: 3px 3px 6px #aaa;
    }
}

/**
 * Post
 */
.post {
    .post-content {
        img {
            box-shadow: 3px 3px 6px #aaa;
        }
    }
}

/**
 * Package
 */
 .package {

     .feature-graphic {
         width: 100%;
     }
     .package-header {
         .package-icon {
             width: 76px;
             height: 76px;
         }
     }

     .package-whats-new {
         .new-in-version {
            font-size: 1.2em;
            margin-bottom: 0.4em;
         }

         background: #eff4f9;
         padding: 1em;
         margin-bottom: 0.5em;
     }

     .package-description {
         br {
             margin-bottom: 0.5em;
         }
     }

     .package-links {
         @include reset-ul;

         border-top: solid 1px #ccc;
         border-bottom: solid 1px #ccc;
         padding-top: 1em;
         padding-bottom: 1em;
         margin-bottom: 1em;

         .package-link {
             display: inline;
             word-break: keep-all;

             &:after {
                 content: " | ";
             }

             &:last-of-type:after {
                 content: ""
             }
         }
     }

     /**
      * Screenshots on the app details page.
      * These styles apply regardless of whether or not JS is enabled.
      * Other screenshot styles which target .slides instead of .screenshots
      * only apply when JS is enabled, as the .slides class is only applied
      * via JS.
      */
     .screenshot img {
        max-width: 250px;

        @include media-query($phone) {
            width: 100%;
        }
    }

     /**
      * Most of the CSS for the screenshots is from the loryjs documentation:
      * http://meandmax.github.io/lory/
      * The customizations revolve around:
      *
      *   On large screens, overlap the next/previous buttons a little bit with the
      *   leftmost and rightmost portions of the carousel. Also make the hit area the
      *   entire height of the carousel.
      *
      *   On phone screens, hide the left/right feature completely, instead letting
      *   users swipe left and right.
      */
    .slider {
        position: relative;

        .frame {
            position: relative;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            white-space: nowrap;

            margin: 0 30px;

            @include media-query($phone) {
                margin: 0;
            }
        }
        
        .slides {
            display: inline-block;
        }
        
        .screenshot {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;

            @include media-query($phone) {
                margin: 5px;
            }
        }
        
        .prev, .next {
            position: absolute;
            display: block;
            cursor: pointer;
            
            margin-top: 0;
            top: 0;
            height: 100%;
            width: 50px;

            &.disabled svg {
                opacity: 0.3;
            }
            
            @include media-query($phone) {
                display: none
            }
        }
        
        .next {
            right: 0;
            svg {
                right: 0;
            }
        }
        
        .prev {
            left: 0;
        }
        
        .next svg, .prev svg {
            width: 25px;

            position: absolute;
            top: 50%;
            margin-top: -25px;
        }
    }
 }
 

/**
 * Language chooser
 */
.sidebar-widget.language {
    padding-bottom: 0.5em;
    text-align: right;

    .lang-flag {
        margin: 0 0.1em;
        vertical-align: middle;
        max-width: 2em;
        max-height: 1em;
    }
}

/**
 * Search results
 */
.sidebar-widget div.awesomplete {
  display: block !important;

  input {
    padding: 0.4em;
    font-size: 1.1em;
    box-sizing: border-box;
    width: 100%;
  }

  li:hover, li[aria-selected="true"] {
    background: $primary-color !important;
    .package-header {
      .package-name, .package-desc .package-summary {
        color: white;
      }
    }
  }
}

/**
 * Footer
 */
.site-description {
    font-size: $small-font-size;
}

/**
 * Miscellaneous
 */
img {
    /**
     * There should be no reason for any image to spread beyond its parent container.
     * This makes images responsive on smaller screens.
     */
    max-width: 100%;
}

/**
 * Home page
 */
.download-and-screenshot {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .download {
        padding: 1em;
        text-align: center;

        .qr {

            img {
                width: 200px;
            }

            @include media-query($tablet) {
                display: none;
            }

            @include media-query($phone) {
                display: none;
            }
        }
    }

    .screenshot {
        display: block;

        max-width: 60%;

        @include media-query($tablet) {
            max-width: 100%;
        }

        @include media-query($phone) {
            max-width: 100%;
        }
    }
}