---
layout: post
title: "Repository Client 0.20"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.20, is now available. You can get it from the <a href="{{ site.baseurl }}/repository">repository page</a> or, if you already have an earlier version installed, just update.</p>
<p>The main changes since the <a href="../repository-client-0-17/index.html">previous official release</a> are:</p>
<ul>
<li>Signed repository index. Although all the applications in the repository are cryptographically signed, and also verified by an md5 sum before installation, the index itself was not previously. It is now. The client is still compatible with unsigned repositories, and will automatically upgrade to using a signed version where available.</li>
<li>Faster repository updates – the signed repository index is a JAR file, and is therefore compressed. For the main FDroid repository, this makes it a fifth the original size.</li>
<li>Fixed a crash that happened if you rotated the screen while a repository update was in progress!</li>
<li>New language – Serbian. As the application is developing rapidly, the translations may lag behind on new features for a while. If you want to help translate into your language, see <a href="{{ site.baseurl }}/translate">here</a>.</li>
</ul>
<p>If you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a> or visit #fdroid on FreeNode.</p>
</div>