---
layout: post
title: "Repository Client 0.24"
author: "F-Droid"
---

<div class="post-entry">
<p>The latest release of the FDroid Repository Client, version 0.24, is now available. You can get it from the repository page or, if you already have an earlier version installed, just update.</p>
<p>This release fixes a problem that caused notifications of updates to your installed applications to not be displayed.</p>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>