---
layout: post
title: "Client 0.45 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.45, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.42:</p>
<ul>
<li>Fixed a bug where repository update checks could happen more frequently than what was requested in the settings.</li>
<li>The repository has been split, such that older versions of applications are kept in a separate archive repository. In a fresh client install, this repository is pre-installed, but switched off. Just tick it in ‘Manage Repos’ to enable it. For upgraded installations, you can add the repository with the address “{{ site.baseurl }}/archive”. The current policy is to keep the three most recent versions of an application in the main repository, and the rest in the archive.</li>
<li>Permissions can now optionally be displayed with the application description, allowing review before download.</li>
<li>Better progress feedback during repo update.</li>
<li>Many other UI improvements.</li>
<li>Lots of translation updates.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>