---
layout: post
title: "Client 0.55 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.55, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>This is a minor update to the 0.54 release, with the following changes:</p>
<ul>
<li>Fixed problems with category selection and permission lists on Android 2.X devices.</li>
<li>Lots of translation updates, including new Norwegian translation.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode</p>
</div>