---
layout: post
title: "Client 0.50 released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.50, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.46:</p>
<ul>
<li>New basic app sharing functionality.</li>
<li>Handle f-droid.org web repo as well as market:// app uris.</li>
<li>Search by just typing on main screen and search results screen.</li>
<li>Flattr and Bitcoin donation methods added.</li>
<li>Noticeable speedups when returning from installs and uninstalls.</li>
<li>Add back to home buttons to the ActionBar.</li>
<li>The client will no longer recommend versions newer than the current or incompatible with the device.</li>
<li>Switched to using standard Android locations for cached files rather than the .fdroid directory on the SD card.</li>
<li>Fix for crash at boot time where the SD card was slow to initialise (bug introduced in 0.46)</li>
<li>Lots of bug fixes.</li>
<li>Lots of translation updates.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>