---
layout: post
title: "Client 0.54 released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.54, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.50:</p>
<ul>
<li>New options on the App Details screen to ignore all future updates for that particular app, or ignore just the current update.</li>
<li>Apps with Anti-features are no longer hidden, and the corresponding preferences to unhide them are removed. Instead they are clearly marked on the App Details screen.</li>
<li>Apps with incompatible native code architecture requirements are now correctly filtered.</li>
<li>A bug that prevented update notifications from appearing has been fixed.</li>
<li>Theming support, with Light and Dark theme</li>
<li>New launcher and notification icons, and new default/loading app icon. Icons are now retrieved dynamically, drastically improving startup time on first installation.</li>
<li>All app donation options have been grouped into a submenu, and Litecoin donation support has been added.</li>
<li>App filter settings now take effect immediately.</li>
<li>Apk native code ABIs are now shown in expert mode.</li>
<li>Search uris for market://search and fdroid.search: are  now handled.</li>
<li>A problem with ActionBar Up navigation on some devices has been fixed.</li>
<li>Other minor bug fixes, and adjustments to spacings and layouts.</li>
<li>Lots of translation updates.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>