---
layout: post
title: "Client 0.58 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.58, is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>Main changes since 0.55:</p>
<ul>
<li>Icons are now downloaded with a resolution that matches the device’s screen density, which saves resources on smaller devices and gets rid of unnecessary blurriness on larger devices.</li>
<li>Some layouts have been tweaked, especially the app lists and their compact layout</li>
<li>App lists now show more useful version information: current version names, rather than number of versions available</li>
<li>Performance has been improved in app list scrolling and repo update processing.</li>
<li>More information is now shown in App Details: The category in which the app was found and all the categories the app is in, as well as the Android version required to run each one of its versions available</li>
<li>The preferences screen now uses descriptive summaries, which means that you can see what the checkbox preferences actually mean and what the edit and list preferences are set at.</li>
<li>Support has been added for dogecoin donations.</li>
<li>Old icons are no longer kept on the local disk cache.</li>
<li>Various minor bug fixes.</li>
<li>Lots of translation updates.</li>
</ul>
<p>As usual, if you have problems or feature requests, talk to the <a href="{{ site.baseurl }}/repository/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode</p>
</div>